:root{
    color:black;
}

body {
    background-color: rgb(119, 177, 243);
    margin-top:7px;
}

.right iframe {
    background-color: aliceblue;
    height: 95vh;
    width: 50vw;
}

.right label {
    font-size: 1.3em;

}

.container {
    display: flex;
}

.left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    font-size: 1.15em;
}

.left textarea {
    display: flex;
    align-items: center;
    width: 45vw;
    height: 30vh;
    border: 0;
    font-size: 1.3em;
}

.left i {
    padding-right: 0.8em;
    margin-left: 0.3em;
}

.runner {
    padding: 15px 7px;
}

.bt {
    background-color: rgb(184, 236, 131);
    border: 0;
    border-radius: 0.4em;
    padding: 1em 1.1em 1em 1.1em;
    color: black;
}

.bt:hover {
    background-color: chartreuse;
    cursor: pointer;
}

#html-code,#css-code,#js-code,#out{
    border-radius: 11px;
}

#lb{
    margin-top:0.13em;
}